@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body {
    direction: rtl !important;
    font-family: 'Open Sans Hebrew', serif !important;
}

form {
    direction: rtl !important;
    font-family: 'Open Sans Hebrew', serif !important;
}

header {
    font-family: 'Open Sans Hebrew', serif !important;
}

.pinkText {
    color: #F89FA1 !important;
}

.blackText {
    color: black !important;
}

.turText {
    color: #17a2b8 !important;
}

.bgImage {
    background-image: url(../images/_smarty/backgrounds/default.jpg)
}

.sectionOpacity {
    background-color: white !important;
}

.box-static.box-border-top {
    border-top: #F89FA1 3px solid;
}

@media (min-width: 992px) {
    .aboutSectionDesktop {
        padding: 175px 0;
    }
}

.radio input:checked + i, .checkbox input:checked + i, .toggle input:checked + i {
    border-color: #F89FA1;
}

.nav-tabs > li > a.active {
    color: #40C0CB !important;
}

.btnSeason.active {
    background-color: pink !important;
}

.table-responsive-sm{
    background-color: white;
}

.budgetHeight
{
    height: 150px;
}

.my-container {
    position: relative!important;
    font-family: Arial!important;
}

.my-text-block {
    position: absolute!important;
    bottom: 3%!important;
    right: 5%!important;
    background-color: black!important;
    color: white!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    opacity: 0.8!important;
    width:30%!important;
    height: auto;
}

.my-img-hover
{
    cursor: pointer;
}

.carousel-caption{
    height: 40%;
    width: 30%;
    background: rgba(0, 0, 0, 0.9);
}

.handle-small
{
    display: block;
}

@media only screen and (max-width: 600px) {
    .handle-small {
        display: none !important;
    }
}

.pinkBackGround {
    background-color: #F89FA1 !important
}


.tintkBackGround {
    background-color: #117a8b !important
}

.nav-tabs.nav-stacked{
    background-color:transparent !important;
}

.myTable td {
    vertical-align: top;
    text-align: right;
    padding-bottom: 1em;
    padding-right: 10px;
}

.MyP30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.box-static {
    text-align: right;
    padding-bottom: inherit;
    height: 100%;
}
